

<!-- purple is darkorchid -->

<h3>Welcome back, <span style="color:#9932CD"><%= @user.name %></span>!</h3>
<div class="span10" style="float:left;border:1px solid #fff; padding:0px;width:90%;margin-bottom:20px;">

	<div style="float:left;border:3px solid #fff; padding:5px;width:50%">
		<h4 style="color:#9932CD">Your Dashboard</h4>
	</div>

	<div class="span4" style="float:left;border:3px solid #fff; padding:15px;">
	<span><strong>Have a student offer? </strong> <%= link_to 'Create a Deal' %></span>
</div>
	
</div>




<div class="span4" style="float:left;border:1px solid #fff; padding:5px;width:90%;margin-bottom:20px;">

	<p>User: <%= @user.name %></p>
	<p>Email: <%= @user.email if @user.email %></p>
</div>


