<h3>Welcome to the student deal finder application</h3>

<div class="well span4">
	<h3>Student? Search for deals!</h3>
	<input type="text" placeholder="Type what you like!">
	<%= link_to 'Go!', new_user_session_path %>
</div>