<h3>Welcome to the student deal finder application</h3>


<div class="well span3" style="height:102px;">
	<h3>Log in</h3>
	<%= link_to 'Login', new_user_session_path %>

</div>
<div class="span1"><h3 style="text-align:center;margin-top:40px;">OR</h3></div>
<div class="well span4">
	<h3>Search for student deals!</h3>
	<input type="text" placeholder="Type what you like!">
	<%= link_to 'Go!', deals_path %>

</div>

